.section {
    height: 100vh;
}

.content {
    height: 100%;
}

.container {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}


.page-header {
    margin: 20px 0;
    padding: 0;
    color: #00b5ad;
}

.page-header h1 {
    font-family: "Quantico", sans-serif;
    margin: 10px 15px;
    text-transform: uppercase;
    font-size: 3em;
}

.page-header hr {
    border: none;
    margin: 0;
    padding: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(0,181,173), rgba(0,181,173, 0.5));
    width: 100%;
    float: left;
}
