.hideme {
    opacity: 0;
}

.hi {
    /*display: block;*/
    margin: 0;
    padding: 0;
    -webkit-transition: .9s ease;
    -moz-transition: .9s ease;
    -ms-transition: .9s ease;
    -o-transition: .9s ease;
    transition: .9s ease;
}
